@tailwind base;
@tailwind components;
@tailwind utilities;

//Elo-Rechner start
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}

.input-container input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding: 8px 0;
    width: 100%;
    font-size: 16px;
}

.input-container label {
    display: none;
}

.vs-container {
    text-align: center;
    margin-top: 90px;
}

.vs-text {
    font-size: 36px;
    color: white;
}

.header-container {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.header-text {
    color: white;
    font-size: 44px;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.result-container {
    text-align: center;
    margin-top: 20px;
}

.result-input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding: 8px 0;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.calculate-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: 1px solid white;
}

.calculate-button:hover {
    transform: scale(1.1);
}
//Elo-Rechner Ende

.max-w-screen-sm {
    max-width: 640px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-w-screen-md {
    max-width: 768px;
}
.rounded-sm {
    border-radius: 0.125rem /* 2px */;
}
.w-\[100px\] {
    width: 100px;
}

.ml-14 {
    margin-left: 3.5rem /* 56px */;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem /* 16px */ * var(--tw-space-x-reverse));
    margin-left: calc(1rem /* 16px */ * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem /* 12px */ * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem /* 12px */ * calc(1 - var(--tw-space-x-reverse)));
}

//Leaderboard

.table tr {
    position: relative;
}

.table tr::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background-color: white;
}

#pagination button.active {
    text-decoration: underline;
}

/* Hover-Effekt für ungerade Zeilen */

.table tbody tr:nth-child(odd):hover {
    background-color: white;
    color: black;
}

/* Hover-Effekt für gerade Zeilen */
.table tbody tr:nth-child(even):hover {
    background-color: white;
    color: black;
}

table tbody tr:nth-child(even) {
    background-color: black;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: black;
    color: white;
}

body {
    overflow: hidden;
}

//Leaderboard Ende
.table tr {
    position: relative;
}

/* Fügen Sie einen weißen Balken unterhalb der Zeilen hinzu */
.table tr::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px; /* Passen Sie die Höhe des Balkens nach Bedarf an */
    background-color: white;
}
.h-10 {
    height: 2.5rem /* 40px */;
}
.w-10 {
    width: 2.5rem /* 40px */;
}
table tbody tr {
    border-bottom: 2px solid white; /* Weißer Rand am unteren Rand */
}
